In [3]:
import pandas as pd
import numpy as np

In [4]:
df2 = pd.DataFrame({'A': 1., 
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'Python'})

In [5]:
df2

     A          B    C  D      E       F
0  1.0 2013-01-02  1.0  3   test  Python
1  1.0 2013-01-02  1.0  3  train  Python
2  1.0 2013-01-02  1.0  3   test  Python
3  1.0 2013-01-02  1.0  3  train  Python

In [6]:
df2.nunique()

A    1
B    1
C    1
D    1
E    2
F    1
dtype: int64

In [24]:
df2['G'] = np.where(df2['E'] == 'train', 1,None)

In [25]:
df2

     A          B    C  D      E       F     G
0  1.0 2013-01-02  1.0  3   test  Python  None
1  1.0 2013-01-02  1.0  3  train  Python     1
2  1.0 2013-01-02  1.0  3   test  Python  None
3  1.0 2013-01-02  1.0  3  train  Python     1

In [26]:
df2.fillna(inplace=True, value=2)

In [27]:
df2

     A          B    C  D      E       F  G
0  1.0 2013-01-02  1.0  3   test  Python  2
1  1.0 2013-01-02  1.0  3  train  Python  1
2  1.0 2013-01-02  1.0  3   test  Python  2
3  1.0 2013-01-02  1.0  3  train  Python  1

In [28]:
df2.nunique()

A    1
B    1
C    1
D    1
E    2
F    1
G    2
dtype: int64

In [29]:
df2.drop_duplicates()

     A          B    C  D      E       F  G
0  1.0 2013-01-02  1.0  3   test  Python  2
1  1.0 2013-01-02  1.0  3  train  Python  1

In [30]:
df2.drop_duplicates(subset='D', keep=False)

     A          B    C  D     E       F  G
0  1.0 2013-01-02  1.0  3  test  Python  2